body {
  font-family: 'Open Sans', sans-serif;
  background: black;
}

a {
  box-sizing: border-box;
  text-align: center;
  min-width: 192px;
  text-decoration: none;
  color: black !important;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.10);
    text-decoration: none;
  }
}

ul {
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.view-container {
  display: flex;
  margin: 5vh auto;
  max-width: 1000px;
  height: 90vh;
  background: white;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 17px 7px rgba(249, 81, 81, 0.858);
}

/* Index */

.no-car {
  text-align: center;
  align-self: center;
  color: #ddd;
  font-size: 32px;
  flex-grow: 1;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 100%;
  border-right: 1px solid #f4f4f4;
  flex-shrink: 0;
}

.illustration {
  width: 100%;
  height: 176px;
  background-size: contain; 
}

.logo {
  margin-top: -45px;
  border: 4px solid white;
  border-radius: 50%;
  z-index: 1;
}

.aside > h1 {
  font-size: 1.6em;
}

.aside > img {
  width: 90px;
  height: 90px;
}

.aside > a {
  padding: 10px 17px;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: 600;
  margin-bottom: 10px;
}

.aside > p {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.4em;
  opacity: 0.6;
}

.footer {
  padding: 0 20px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1.4em;
  opacity: 0.6;
  position: absolute;
  bottom: 2px;
} 


.list-container {
  width: calc(100% - 220px);
  height: 100%;
  background: #dbdbdb;
  overflow: auto;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.car-logo {
  height: 120px;
}

.car-details {
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 1rem;
}

.car-details > span {
  text-transform: uppercase;
  font-weight: 600;
}

.car-details > ul > li {
  margin-bottom: 4px;
}

.car-smallad {
  display: flex;
  position: relative;
  margin: 10px;
  height: 121px;
  border-bottom: 1px solid #f4f4f4;
  background: white;
}

.car-smallad:hover {
  transform: scale(1.01);
}

.car-smallad > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Show */

.car-container {
  width: calc(100% - 220px);
  height: 100%;
  background: #dbdbdb;
  overflow: auto;
}

.car-card {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  background: white;
}

.car-picture {
  object-fit: cover;
  width: 220px;
  height: 121px;
}

.car-picture-1 {
  object-fit: cover;
  width: 21rem;
  
}

.car-details {
  display: flex;
  flex-direction: column;
  width: calc(100% - 420px);
}

.plate {
  margin-top: 10px;
  width: 195px;
  padding: 10px 22px;
  font-size: 21px;
  text-align: center;
  border: 1px solid black;
}

.delete {
  position: absolute;
  width: 120px;
  bottom: 20px;
  right: 20px;
}

.delete:hover {
  transform: scale(1.02); 
}

.delete > i {
  margin-right: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 220px);
  height: 100%;
  background-color: #dbdbdb;
  background-size: cover;
  background-position: center center;
}

form {
  position: relative;
  background: white;
  padding: 20px;
  width: 420px;
  height: 425px;
}

label {
  font-weight: 600;
}

button {
  padding: 10px 17px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.show {
  position: absolute;
  padding: 10px 17px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: rgb(174, 174, 174);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  bottom: 20px;
  right: 155px;
}

.show:hover {
  transform: scale(1.02); 
}


/* Garage */
.garage-logo {
  height: 120px;
}

.garage-details {
  padding: 10px 20px;
  box-sizing: border-box;
}

.garage-details > span {
  text-transform: uppercase;
  font-weight: 900;
}

.garage-details > ul > li {
  margin-bottom: 4px;
}

.garage-smallad {
  display: flex;
  position: relative;
  margin: 10px;
  height: 160px;
  border-bottom: 1px solid #f4f4f4;
  background: white;
}

.garage-smallad:hover {
  transform: scale(1.01);
}

.garage-smallad > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.garage-container {
  width: calc(100% - 220px);
  height: 100%;
  background: #dbdbdb;
  overflow: auto;
}

.garage-card {
  display: flex;
  position: relative;
  margin: 10px;
  background: white;
  width: calc(100% - 60px);
  height: 280px;
  background-position: center center;
  z-index: 2;
}

.garage-picture {
  width: 300px;
  height: 160px;
}

.garage-details {
  display: flex;
  flex-direction: column;
  width: calc(100% - 420px);
  margin: 2rem;
} 

.description {
  margin: 2rem;
}

li {
margin-bottom: 10px;
}

.upload-button {
  color: black;
  background-color: rgb(174, 174, 174);
  position: absolute;
}

.upload-button:hover {
  transform: scale(1.02);
}

.upload-button-1 {
  background-color: black;
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.upload-button-1:hover {
  transform: scale(1.02);
}